<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>地图查询</title>
  <!--<link rel="stylesheet" href="http://www.gaode.com/build/biz.min.b97fc3fa.css">-->
  {{#if webpackAssets.common}}
    <link rel="stylesheet" href="{{webpackAssets.common.css}}">
  {{/if}}
  {{#if webpackAssets.index}}
    <link rel="stylesheet" href="{{webpackAssets.index.css}}">
  {{/if}}
</head>

<body>
<div id="app-container">
  <!--<div id="online-map" class="col-md-8"></div>-->
  <app></app>
</div>


<!-- http://restapi.amap.com/v3/ip?ip=114.247.50.2&key=38435f770f1aa5186d4ea8980bbe982a -->
<!-- http://restapi.amap.com/v3/geocode/regeo?location=116.310003,39.991957&key=38435f770f1aa5186d4ea8980bbe982a -->
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.3&key=851b930bc078b4f72ad7d85574be56e5&plugin=AMap.DistrictSearch"></script>
{{#if webpackAssets.common}}
  <script src="{{webpackAssets.common.js}}"></script>
{{/if}}
{{#if webpackAssets.index}}
  <script src="{{webpackAssets.index.js}}"></script>
{{/if}}
</body>

</html>
