
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-down-dir-1:before { content: '\e804'; } /* '' */
.icon-left-dir-1:before { content: '\e805'; } /* '' */
.icon-right-dir-1:before { content: '\e806'; } /* '' */
.icon-up-dir-1:before { content: '\e807'; } /* '' */
.icon-left-open-big:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
.icon-down-open-big:before { content: '\e80a'; } /* '' */
.icon-up-open-big:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-search-1:before { content: '\e80d'; } /* '' */